# Приоритет у последнего подходящего правила в файле.

# Уведомление обо всех PR
* @BL02DL

# Прототипы
*.yml @MegaDaimond @BL02DL

# C#
*.cs @BL02DL @SpicyDarkFox
*.xaml @BL02DL @SpicyDarkFox

# Карты
/Resources/Prototypes/Maps/** @PowerKAT1 @BL02DL
/Resources/Prototypes/**/Maps/** @PowerKAT1 @BL02DL
/Resources/Maps/** @PowerKAT1 @BL02DL

# Переводы
*.ftl @PowerKAT1 @Evgencheg

# Руководства
*.xml @PowerKAT1 @BL02DL
